Do some machine learning on data found here http://mlr.cs.umass.edu/ml/machine-learning-databases/adult/using aimed at predicting whether or not a person will make over 50k a year. Do it in an IPython Notebook. Look in adult.data for the data, save it as a csv file. The adult.names file has information about the set. 

# [DONE] 2 pts Create a notebook.

### Changed Features for dataframe as described in  adult.names for readability
### age, workclass, fnlwgt, education, education-num, marital-status, occupation, relationship, race, sex capital-gain, capital-loss, hours-per-week: continuous, native-country

In [11]:
import pandas as pd
import numpy as np


train_data = 'adult.data'
test_data = 'adult.test'
features = ["age", "workclass", "fnlwgt", "education", "education_num",
           "marital_status", "occupation", "relationship", "race", "gender",
           "capital_gain", "capital_loss", "hours_per_week", "native_country",
           "income"]
train_df = pd.read_csv(train_data, header=None, names=features, sep=',\s', na_values=["?"])
test_df = pd.read_csv(test_data, header=None, names=features, sep=',\s', na_values=["?", "None
                                                                                    "])
# train_df.dtypes
train_df.info()

/home/cowboyuniverse/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  # This is added back by InteractiveShellApp.init_path()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         30725 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education_num     32561 non-null int64
marital_status    32561 non-null object
occupation        30718 non-null object
relationship      32561 non-null object
race              32561 non-null object
gender            32561 non-null object
capital_gain      32561 non-null int64
capital_loss      32561 non-null int64
hours_per_week    32561 non-null int64
native_country    31978 non-null object
income            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

/home/cowboyuniverse/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:12: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if sys.path[0] == '':


# [done] 2 pts Convert the data to a numpy array if it isn't one already.

In [12]:
my_data =  np.loadtxt('adult.data', dtype=str, delimiter=',')

### Seperating object from int64

In [13]:
obj_train_df = train_df.select_dtypes(include=['object']).copy()
int64_train_df = train_df.select_dtypes(include=['int64']).copy()

obj_test_df = test_df.select_dtypes(include=['object']).copy()
int64_test_df = test_df.select_dtypes(include=['int64']).copy()


# obj_train_df.head()

# [DONE] 2 pts Replace all empty numeric fields with the average of its column in this new column.

### There are no any empty numeric fields 'False' and putting all averages NaN values inside obj_train_df

In [44]:
#False
int64_train_df.isnull().values.any()
#False
int64_test_df.isnull().values.any()

False

### Check for any NaN values

In [45]:
# obj_train_df[obj_train_df.isnull().any(axis=1)]
# 
obj_test_df[obj_test_df.isnull().any(axis=1)]

,age,workclass,education,marital_status,occupation,relationship,race,gender,native_country,income
0,|1x3 Cross validator,None,None,None,None,None,None,None,None,None
5,18,NaN,Some-college,Never-married,NaN,Own-child,White,Female,United-States,<=50K.
7,29,NaN,HS-grad,Never-married,NaN,Unmarried,Black,Male,United-States,<=50K.
14,58,NaN,HS-grad,Married-civ-spouse,NaN,Husband,White,Male,United-States,<=50K.
20,40,Private,Doctorate,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,NaN,>50K.
23,72,NaN,7th-8th,Divorced,NaN,Not-in-family,White,Female,United-States,<=50K.
36,65,NaN,HS-grad,Married-civ-spouse,NaN,Husband,White,Male,United-States,<=50K.
66,41,Private,Bachelors,Never-married,Other-service,Not-in-family,White,Female,NaN,<=50K.
76,17,NaN,10th,Never-married,NaN,Own-child,White,Male,United-States,<=50K.
84,44,Self-emp-inc,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,NaN,>50K.
90,41,NaN,Masters,Married-civ-spouse,NaN,Wife,White,Female,United-States,>50K.
101,51,NaN,Some-college,Married-civ-spouse,NaN,Wife,White,Female,United-States,<=50K.
114,20,NaN,HS-grad,Never-married,NaN,Own-child,White,Female,United-States,<=50K.
133,20,NaN,HS-grad,Never-married,NaN,Not-in-family,White,Female,United-States,<=50K.
183,28,NaN,HS-grad,Married-civ-spouse,NaN,Own-child,White,Female,United-States,>50K.
186,64,NaN,Some-college,Married-civ-spouse,NaN,Husband,White,Male,United-States,<=50K.
189,34,State-gov,Bachelors,Married-spouse-absent,Farming-fishing,Not-in-family,Black,Male,NaN,<=50K.
194,79,NaN,7th-8th,Widowed,NaN,Not-in-family,White,Male,United-States,<=50K.
229,25,NaN,9th,Separated,NaN,Not-in-family,White,Female,United-States,<=50K.
230,77,NaN,Some-college,Married-civ-spouse,NaN,Husband,White,Male,United-States,<=50K.
246,39,NaN,HS-grad,Married-civ-spouse,NaN,Wife,White,Female,United-States,<=50K.
254,42,Federal-gov,Bachelors,Never-married,Prof-specialty,Not-in-family,White,Male,NaN,<=50K.
267,61,NaN,HS-grad,Married-civ-spouse,NaN,Husband,White,Male,United-States,<=50K.
269,21,NaN,Some-college,Never-married,NaN,Own-child,White,Female,United-States,<=50K.
275,53,NaN,HS-grad,Married-civ-spouse,NaN,Husband,White,Male,United-States,>50K.
306,37,Local-gov,Bachelors,Never-married,Prof-specialty,Unmarried,Black,Male,NaN,<=50K.
317,20,NaN,Some-college,Never-married,NaN,Not-in-family,White,Male,United-States,<=50K.
330,64,Self-emp-not-inc,Doctorate,Married-civ-spouse,Prof-specialty,Husband,White,Male,NaN,>50K.
332,20,NaN,Some-college,Never-married,NaN,Own-child,White,Male,United-States,<=50K.
351,45,NaN,HS-grad,Widowed,NaN,Unmarried,White,Female,Mexico,<=50K.
...,...,...,...,...,...,...,...,...,...,...
15847,17,NaN,12th,Never-married,NaN,Own-child,White,Male,United-States,<=50K.
15852,26,NaN,HS-grad,Divorced,NaN,Not-in-family,White,Female,United-States,<=50K.
15857,57,NaN,Bachelors,Never-married,NaN,Not-in-family,Black,Female,United-States,<=50K.
15862,39,NaN,Bachelors,Divorced,NaN,Own-child,Black,Female,United-States,<=50K.
15865,39,NaN,HS-grad,Divorced,NaN,Unmarried,White,Female,United-States,<=50K.
15877,17,NaN,7th-8th,Never-married,NaN,Own-child,White,Female,United-States,<=50K.
15880,18,NaN,12th,Never-married,NaN,Own-child,White,Male,United-States,<=50K.
15910,41,NaN,Assoc-acdm,Married-civ-spouse,NaN,Husband,White,Male,United-States,<=50K.
15913,68,NaN,Some-college,Married-civ-spouse,NaN,Husband,White,Male,United-States,>50K.
15917,24,NaN,7th-8th,Never-married,NaN,Not-in-family,White,Female,United-States,<=50K.
15923,19,NaN,HS-grad,Never-married,NaN,Own-child,White,Male,United-States,<=50K.
15925,17,NaN,HS-grad,Never-married,NaN,Own-child,White,Male,United-States,<=50K.
15953,58,NaN,11th,Divorced,NaN,Unmarried,Black,Female,United-States,<=50K.
15984,18,NaN,HS-grad,Never-married,NaN,Own-child,White,Male,United-States,<=50K.
15989,20,NaN,HS-grad,Never-married,NaN,Not-in-family,White,Female,United-States,<=50K.
15993,22,NaN,Some-college,Never-married,NaN,Not-in-family,White,Female,United-States,<=50K.
16002,18,NaN,Some-college,Never-married,NaN,Not-in-family,Asian-Pac-Islander,Female,United-States,<=50K.
16007,76,NaN,HS-grad,Divorced,NaN,Not-in-family,White,Female,United-States,<=50K.
16019,21,NaN,Some-college,Never-married,NaN,Own-child,White,Female,United-States,<=50K.
16033,56,NaN,Masters,Married-civ-spouse,NaN,Husband,White,Male,United-States,>50K.
16036,19,NaN,HS-grad,Never-married,NaN,Own-child,White,Male,United-States,<=50K.
16044,24,State-gov,Bachelors,Never-married,Transport-moving,Not-in-family,Black,Male,NaN,<=50K.
16091,34,Private,Masters,Never-married,Prof-specialty,Not-in-family,Black,Male,NaN,>50K.
16118,21,NaN,Some-college,Never-married,NaN,Other-relative,White,Female,United-States,<=50K.
16122,61,NaN,Some-college,Married-civ-spouse,NaN,Husband,White,Male,United-States,<=50K.
16209,21,NaN,Some-college,Never-married,NaN,Own-child,White,Female,United-States,<=50K.
16240,73,NaN,HS-grad,Married-civ-spouse,NaN,Husband,White,Male,Canada,<=50K.
16252,81,NaN,Assoc-voc,Married-civ-spouse,NaN,Husband,White,Male,United-States,<=50K.
16266,50,Local-gov,Masters,Married-civ-spouse,Prof-specialty,Wife,White,Female,NaN,>50K.
16278,64,NaN,HS-grad,Widowed,NaN,Other-relative,Black,Male,United-States,<=50K.

## Look for the most common value and fill NaN with those values

In [6]:
# obj_train_df["workclass"].mode()
# obj_train_df["education"].mode()
# obj_train_df["marital_status"].mode()
# obj_train_df["occupation"].mode()
# obj_train_df["relationship"].mode()
# obj_train_df["race"].mode()
# obj_train_df["gender"].mode()
# obj_train_df["native_country"].mode()

train_df = train_df.fillna({"workclass": "Private",
                                    "education":"HS-grad",
                                    "marital_status":"Married-civ-spouse",
                                    "occupation": " Prof-specialty" ,
                                    "relationship": "Husband",
                                    "race": "White",
                                    "gender": "Male"  ,
                                    "native_country": "United-States"
                                   })

# train_df[train_df.isnull().any(axis=1)]

In [36]:
# obj_test_df["workclass"].mode()
# obj_test_df["education"].mode()
# obj_test_df["marital_status"].mode()
# obj_test_df["occupation"].mode()
# obj_test_df["relationship"].mode()
# obj_test_df["race"].mode()
# obj_test_df["gender"].mode()
# obj_test_df["native_country"].mode()

test_df = test_df.fillna({"workclass": "Private",
                                    "education":"HS-grad",
                                    "marital_status":"Married-civ-spouse",
                                    "occupation": " Prof-specialty" ,
                                    "relationship": "Husband",
                                    "race": "White",
                                    "gender": "Male"  ,
                                    "native_country": "United-States"
                                   })

0    United-States
dtype: object

# [Done]   a) Replace all categorical data (data that is in categories, not numbers) with one-hot encoding

In [46]:
one_hot_encoding_train_df = pd.get_dummies(train_df, columns= train_df.select_dtypes(include=['object']))
one_hot_encoding_train_df.head()

one_hot_encoding_test_df = pd.get_dummies(test_df, columns= test_df.select_dtypes(include=['object']))


# columns = one_hot_encoding_df.columns
# l = list(columns)
# l
one_hot_encoding_test_df

,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,age_17,age_18,age_19,age_20,age_21,...,native_country_Scotland,native_country_South,native_country_Taiwan,native_country_Thailand,native_country_Trinadad&Tobago,native_country_United-States,native_country_Vietnam,native_country_Yugoslavia,income_<=50K.,income_>50K.
0,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,226802.0,7.0,0.0,0.0,40.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
2,89814.0,9.0,0.0,0.0,50.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
3,336951.0,12.0,0.0,0.0,40.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
4,160323.0,10.0,7688.0,0.0,40.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
5,103497.0,10.0,0.0,0.0,30.0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
6,198693.0,6.0,0.0,0.0,30.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
7,227026.0,9.0,0.0,0.0,40.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
8,104626.0,15.0,3103.0,0.0,32.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
9,369667.0,10.0,0.0,0.0,40.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
10,104996.0,4.0,0.0,0.0,10.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
11,184454.0,9.0,6418.0,0.0,40.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
12,212465.0,13.0,0.0,0.0,40.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
13,82091.0,9.0,0.0,0.0,39.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
14,299831.0,9.0,0.0,0.0,35.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
15,279724.0,9.0,3103.0,0.0,48.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
16,346189.0,14.0,0.0,0.0,50.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
17,444554.0,10.0,0.0,0.0,25.0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0
18,128354.0,9.0,0.0,0.0,30.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
19,60548.0,9.0,0.0,0.0,20.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
20,85019.0,16.0,0.0,0.0,45.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
21,107914.0,13.0,0.0,0.0,47.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
22,238588.0,10.0,0.0,0.0,35.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
23,132015.0,4.0,0.0,0.0,6.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
24,220931.0,13.0,0.0,0.0,43.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
25,205947.0,13.0,0.0,0.0,40.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
26,432824.0,9.0,7298.0,0.0,90.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
27,236427.0,9.0,0.0,0.0,20.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
28,134446.0,9.0,0.0,0.0,54.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
29,99516.0,9.0,0.0,0.0,35.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16252,26711.0,11.0,2936.0,0.0,20.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16253,117909.0,11.0,7688.0,0.0,40.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
16254,229647.0,13.0,0.0,1669.0,40.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16255,149347.0,14.0,0.0,0.0,50.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
16256,23157.0,14.0,0.0,1902.0,50.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
16257,93977.0,9.0,0.0,0.0,40.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16258,159691.0,10.0,0.0,0.0,40.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16259,176967.0,10.0,0.0,0.0,40.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16260,344436.0,9.0,0.0,0.0,8.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16261,430340.0,10.0,0.0,0.0,45.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16262,202168.0,15.0,15024.0,0.0,55.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
16263,82720.0,9.0,0.0,0.0,40.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16264,269623.0,10.0,0.0,0.0,40.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16265,136405.0,9.0,0.0,0.0,32.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16266,139347.0,14.0,0.0,0.0,40.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
16267,224655.0,9.0,0.0,0.0,32.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16268,247547.0,11.0,0.0,0.0,40.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16269,292710.0,12.0,0.0,0.0,36.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16270,173449.0,9.0,0.0,0.0,40.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16271,285570.0,9.0,0.0,0.0,40.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16272,89686.0,9.0,0.0,0.0,48.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16273,440129.0,9.0,0.0,0.0,40.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16274,350977.0,9.0,0.0,0.0,40.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16275,349230.0,14.0,0.0,0.0,40.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16276,245211.0,13.0,0.0,0.0,40.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16277,215419.0,13.0,0.0,0.0,36.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16278,321403.0,9.0,0.0,0.0,40.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16279,374983.0,13.0,0.0,0.0,50.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16280,83891.0,13.0,5455.0,0.0,40.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16281,182148.0,13.0,0.0,0.0,60.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1

# [done] 2 pts Divide the data into a training and test set.

In [47]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(train_df, test_df, test_size=0.33)

ValueError: Found input variables with inconsistent numbers of samples: [32561, 16282]

# [done] 2 pts Run both a random forest and gaussian naive bayes on the training set.

In [ ]:
train_df[object_columns]

In [ ]:
int64_columns = ["age", "education_num", "capital_gain", "capital_loss", "hours_per_week"]
train_df[int64_columns].head()
object_columns = ["workclass", "education", "marital_status", "occupation",
                       "relationship", "race", "gender", "native_country"]

# HW Directives

done 2 pts Create a notebook.

done 2 pts Replace all empty numeric fields with the average of its column in this new column (if there are any, if not, you get 2 free points).

done 2 pts Either:

a) Replace all categorical data (data that is in categories, not numbers) with one-hot encoding (see http://pandas.pydata.org/pandas-docs/stable/generated/pandas.get_dummies.html) or

b) Convert non-numeric columns (that is, categorical data) to columns with an integer representations (like we did with the decision trees). 

Note: for "?", please find the value that is most common in the column it is found and replace the "?" with it.

done 2 pts Convert the data to a numpy array if it isn't one already.

done 2 pts Divide the data into a training and test set.

done 2 pts Run both a random forest and gaussian naive bayes on the training set.

2 pts Compute the accuracy of predictions on the test set.


2pts each extra credit: Use another additional classifier.

# DATA DICTIONARY
#### fnlwgt: continuous.
#### education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
#### education-num: continuous.
#### marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
#### occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
#### relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
#### race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
#### sex: Female, Male.
#### capital-gain: continuous.
#### capital-loss: continuous.
#### hours-per-week: continuous.
#### native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.

In [ ]:
# train_df[object_columns=='?'] = 0
# train_df[train_df=='?'] = 0

    
# train_df[object_columns] 

    
# df = train_df.where(((train_df)) == '?', 0)


#  ["workclass", "education", "marital_status", "occupation",
#                        "relationship", "race", "gender", "native_country"]

# train_df = train_df.fillna({
#     'workclass': '?',
#     'education': '?',
#     'marital_status': '?',
#     'occupation': '?',
#     'relationship': '?',
#     'race': '?', 
#     'gender': '?', 
#     'native_country': '?'
# })
# train_df = train_df.replace("?", 0)
# train_df['workclass'] = train_df['workclass'].replace('NaN', 0)
obj_train_df['workclass'] = obj_train_df['workclass'].apply(lambda x: 0 if x == 'NaN' else x)

# train_df[['workclass'][train_df['workclass'] == '?'] = 0

# train_df['workclass'].replace('?', '0')

# train_df['workclass'].replace('?', 0)

# train_df.replace('?', train_df.replace([''], [0])
                 
# for item in train_df[object_columns]['workclass']:
# #     if
#     print(item)